### 1. Create a list with integers from 1 to 10.

In [13]:
l = list(range(1,11))
    
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2. Find the length of a list without using the `len()` function.

In [14]:
l = [45, 25, 62, 33, 78, 21, 11, 98,55]

count = 0

for i in l:
    count += 1

print(count)

9

### 3. Append an element to the end of a list.

In [22]:
l = [45, 25, 62, 33, 78, 21, 11, 98,55]

l.append(100)
l

[45, 25, 62, 33, 78, 21, 11, 98, 55, 100]

### 4. Insert an element at a specific index in a list.

In [24]:
l = [45, 25, 62, 33, 78, 21, 11, 98,55]

l.insert(0,5)
l

[5, 45, 25, 62, 33, 78, 21, 11, 98, 55]

### 5. Remove an element from a list by its value.

In [25]:
l = [45, 25, 62, 33, 78, 21, 11, 98,55]

l.remove(25)
l

[45, 62, 33, 78, 21, 11, 98, 55]

### 6. Remove an element from a list by its index.

In [2]:
l = [45, 25, 62, 33, 78, 21, 11, 98,55]
del l[3]
l

[45, 25, 62, 78, 21, 11, 98, 55]

### 7. Check if an element exists in a list.

In [9]:
l = [45, 25, 62, 33, 78, 21, 11, 98,55]

element = int(input('Enter the element to check : '))

if element in l:
    print('Yes')
    else:
    print('no')

Enter the element to check : 11
Yes

### 8. Find the index of the first occurrence of an element in a list.

In [13]:
l = [45, 25, 62, 33, 25, 78, 21, 11, 98,55]

l.index(25)

1

### 9. Count the occurrences of an element in a list.

In [15]:
l = [45, 25, 62, 33, 25, 78, 21, 11, 98,55]

element = int(input('Enter the element to check : '))

count = 0

for i in l:
    if i == element:
        count += 1
    
print(count)

Enter the element to check : 25
2

### 10. Reverse the order of elements in a list.

In [17]:
l = [45, 25, 62, 33, 78, 21, 11, 98,55]

l2 = l[::-1]
l2

[55, 98, 11, 21, 78, 33, 62, 25, 45]

In [19]:
l = [45, 25, 62, 33, 78, 21, 11, 98,55]
l.reverse()
l

[55, 98, 11, 21, 78, 33, 62, 25, 45]

### 11. Sort a list in ascending order.

In [20]:
l = [45, 25, 62, 33, 78, 21, 11, 98,55]
l.sort()
l

[11, 21, 25, 33, 45, 55, 62, 78, 98]

### 12. Sort a list in descending order.

In [21]:
l = [45, 25, 62, 33, 78, 21, 11, 98,55]
l.sort()
l.reverse()
l

[98, 78, 62, 55, 45, 33, 25, 21, 11]

### 13. Create a list of even numbers from 1 to 20.

In [24]:
l = []

for i in range(1,21):
    if(i%2 == 0):
        l.append(i)
        
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 14. Create a list of odd numbers from 1 to 20.

In [25]:
l = []

for i in range(1,21):
    if(i%2 == 1):
        l.append(i)
        
l

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15. Find the sum of all elements in a list.

In [26]:
l = [45, 25, 62, 33, 78, 21, 11, 98,55]

add = 0

for i in l:
    add += i
    
add

428

### 16. Find the maximum value in a list.

In [32]:
l = [45, 25, 62, 33, 78, 21, 11, 98,55]

max_element = max(l)
max_element

98

### 17. Find the minimum value in a list.

In [33]:
l = [45, 25, 62, 33, 78, 21, 11, 98,55]

max_element = min(l)
max_element

11

### 18. Create a list of squares of numbers from 1 to 10.

In [35]:
l = [n*n for n in range(1,11)] # list comprehensions
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 19. Create a list of random numbers.

In [40]:
import random

random_list = []
n = 20
for i in range(n):
    random_list.append(random.randint(255,600))
print(random_list)

[512, 419, 276, 497, 365, 275, 465, 450, 332, 509, 574, 273, 361, 452, 255, 268, 354, 270, 381, 449]

### 20. Remove duplicates from a list.

In [45]:
l1 = [45, 25,25, 62, 33, 78, 33, 21, 11, 98,55, 99,62]

dup = []

for i in l1:
    if i not in dup:
        dup.append(i)

dup

[45, 25, 62, 33, 78, 21, 11, 98, 55, 99]

### 21. Find the common elements between two lists.

In [41]:
l1 = [45, 25, 62, 33, 78, 21, 11, 98,55]
l2 = [78, 65, 33, 98, 56, 37, 105, 1, 56, 25]

set1 = set(l1)
set2 = set(l2)

set1.intersection(set2)

{25, 33, 78, 98}

### 22. Find the difference between two lists.

In [48]:
l1 = [45, 25, 62, 33, 78, 21, 11, 98,55]
l2 = [78, 65, 33, 98, 56, 37, 105, 1, 56, 25]

set1 = set(l1)
set2 = set(l2)

diff = []

for i in l1:
    if i not in l2:
        diff.append(i)
diff # elements present in l1 but not in l2

[45, 62, 21, 11, 55]

### 23. Merge two lists.

In [55]:
l1 = [45, 25, 62, 33, 78, 21, 11, 98,55]
l2 = [108,77,95]

l3  = l1.extend(l2)
print(l1)

[45, 25, 62, 33, 78, 21, 11, 98, 55, 108, 77, 95]

### 24. Multiply all elements in a list by 2.

In [57]:
l = [108,77,95]

l2 = [2*i for i in l]
print(l2)

[216, 154, 190]

### 25. Filter out all even numbers from a list.

In [61]:
l1 = [45, 25, 62, 33, 78, 21, 11, 98,55]

l2 = []

for i in l1:
    if i%2 == 0:
        l2.append(i)
    
print(l2)

[62, 78, 98]

### 26. Convert a list of strings to a list of integers.

In [6]:
l = ['33','24','7','5','89','54','100','2']
print(l)

l = [int(i) for i in l]
print(l)

['33', '24', '7', '5', '89', '54', '100', '2']
[33, 24, 7, 5, 89, 54, 100, 2]

### 27. Convert a list of integers to a list of strings.

In [8]:
l1 = [45, 25, 62, 33, 78, 21, 11, 98,55]

print(l)

l = [str(i) for i in l]
print(l)

[33, 24, 7, 5, 89, 54, 100, 2]
['33', '24', '7', '5', '89', '54', '100', '2']

### 28. Flatten a nested list.

In [4]:
l = [[1,2,3],[4,5],[6],[7,8,9,10],[11,12]]

flatten_list = [element for sublist in l for element in sublist ] # sublist -> [1,2,3] [4,5] [6]..

print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

### 29. Create a list of the first 10 Fibonacci numbers.

In [15]:
a = 0
b = 1
c = a + b

l = []
l.append(a)
l.append(b)

for i in range(3,11):
    l.append(c)
    a = b
    b = c
    c = a + b

print(l)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 30. Check if a list is sorted.

In [24]:
l1 = [45, 25, 62, 33, 78, 21, 11, 98,55]

if(l1 == l1.sort()):
    print('List is sorted')
else:
    print('List is not sorted')

List is not sorted

### 31. Rotate a list to the left by `n` positions.

In [30]:
n = int(input('no of positions : '))

l = [45, 25, 62, 33, 78, 21, 11, 98,55]

if n < len(l):
    l = l[3:] + l[:3]

print(l)

no of positions : 3
[33, 78, 21, 11, 98, 55, 45, 25, 62]

### 32. Rotate a list to the right by `n` positions.

In [31]:
n = int(input('no of positions : '))

l = [45, 25, 62, 33, 78, 21, 11, 98,55]

if n < len(l):
    l = l[-3:] + l[:-3]

print(l)

no of positions : 3
[11, 98, 55, 45, 25, 62, 33, 78, 21]

### 33. Create a list of prime numbers up to 50.

In [31]:
def prime_nos(n):
    primes = []
    for i in range(2, n+1):
        for j in range(2, int(i**0.5) + 1):
            if i%j == 0:
                break
        else:
            primes.append(i)
    return primes

prime_list = prime_nos(50)
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 34. Split a list into chunks of size `n`.

In [6]:
def chunk_list(lst, n):
    return [lst[i:i+n] for i in range(0, len(lst), n)]

# Example usage:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3
result = chunk_list(my_list, chunk_size)
print(result)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### 35. Find the second largest number in a list.

In [1]:
my_list = [10, 5, 20, 15, 30, 25]

# Remove duplicates and sort the list in ascending order
sorted_list = sorted(set(my_list))

# Find the second largest number
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 25

### 36. Replace every element in a list with its square.

In [2]:
l = [1,2,3,4,5]

list_sq = set(map(lambda x :  x**2, l ))

print(list_sq)

{1, 4, 9, 16, 25}

### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [4]:
my_list = ['alpha', 'beta', 'gamma', 'delta']

# Convert list to dictionary using dictionary comprehension
my_dict = {element: index for index, element in enumerate(my_list)}

# Print the resulting dictionary
print("Converted dictionary:", my_dict)

Converted dictionary: {'alpha': 0, 'beta': 1, 'gamma': 2, 'delta': 3}

### 38. Shuffle the elements of a list randomly.

In [5]:
import random

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

random.shuffle(my_list)

print("Shuffled list:", my_list)

Shuffled list: [2, 5, 1, 10, 6, 3, 9, 4, 7, 8]

### 39. Create a list of the first 10 factorial numbers.

In [28]:
import math

l = []

factorial_numbers = [math.factorial(n) for n in range(1, 11)]

print("First 10 factorial numbers:")
for index, factorial in enumerate(factorial_numbers, start=1):
    l.append(factorial)
           
print(l)

First 10 factorial numbers:
[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

### 40. Check if two lists have at least one element in common.

In [25]:
l1 = [45, -2, 8, 18, -65, 75, -12]
l2 = [12, 77, 96, -2, 10]

common = 0

for i in l1:
    if i in l2:
        common += 1
        

if common >= 1:
    print(f'list has {common} elements in common')

list has 1 elements in common

### 41. Remove all elements from a list.

In [22]:
l = [45, -2, 8, 18, -65, 75, -12]

l.clear()

l

[]

### 42. Replace negative numbers in a list with 0.

In [19]:
l = [45, -2, 8, 18, -65, 75, -12]

for i in range(len(l)):

    if l[i] < 0:
        l[i] = 0
        
print(l)

[45, 0, 8, 18, 0, 75, 0]

### 43. Convert a string into a list of words.

In [10]:
str_words = 'ants elephant ape dragen-fruit mangoes apples'

s = str_words.split()

print(s)

['ants', 'elephant', 'ape', 'dragen-fruit', 'mangoes', 'apples']

### 44. Convert a list of words into a string

In [7]:
list_words = ['ants', 'elephant', 'ape', 'dragen fruit', 'mangoes', 'apples']
str_words = ''

for i in list_words:
    str_words += (i)

print(str_words)

antselephantapedragen fruitmangoesapples

### 45. Create a list of the first `n` powers of 2.

In [2]:
n = int(input())

l = []

for i in range(n):
    j = 2**i
    l.append(j)
    
print(l)

6
[1, 2, 4, 8, 16, 32]

### 46. Find the longest string in a list of strings.

In [1]:
def find_longest_str(list_of_str):
    longest_str = max(list_of_str, key = len)
    return longest_str

s = ['ants', 'elephant', 'ape', 'dragen fruit', 'mangoes', 'apples']

print(find_longest_str(s))

dragen fruit

### 47. Find the shortest string in a list of strings.

In [13]:
def find_shortest_string(list_of_strings):
    shortest_string = min(list_of_strings, key=len)
    return shortest_string

s = ['ants', 'elephant', 'ape', 'dragen fruit', 'mangoes', 'apples']

shortest_string = find_shortest_string(s)

print(shortest_string)

ape


### 48. Create a list of the first `n` triangular numbers.

In [29]:
def generate_triangular_numbers(n):
    triangular_numbers = [i * (i + 1) // 2 for i in range(1, n + 1)]
    return triangular_numbers

# Get user input for n
n = int(input("Enter the value of n: "))

# Generate and display the list of triangular numbers
triangular_numbers_list = generate_triangular_numbers(n)
print(f"The first {n} triangular numbers are:", triangular_numbers_list)

Enter the value of n: 6
The first 6 triangular numbers are: [1, 3, 6, 10, 15, 21]

### 49. Check if a list contains another list as a subsequence.

In [3]:
l = [1,2,[3,4,5],6,7]
sub = 0

for i in l:
    if type(i) == list:
        sub += 1
        
if sub >= 1:
    print('True')
else:
    prit('False')

True

### 50. Swap two elements in a list by their indices.

In [5]:
def swap(l, pos1, pos2):
    l[pos1], l[pos2] = l[pos2], l[pos1]
    return l

l = [1,5,7,8,9,12]
pos1, pos2 = 2,4

print(swap(l, pos1, pos2))  # 1 at index 0, 5 at index 1

[1, 5, 9, 8, 7, 12]