### 1. Create a set with integers from 1 to 5.

In [1]:
s = set(i for i in range(1,6))
s

{1, 2, 3, 4, 5}

### 2. Add an element to a set.

In [2]:
s = set(i for i in range(1,6))

s.add(8)
s

{1, 2, 3, 4, 5, 8}

### 3. Remove an element from a set.

In [4]:
s = {1, 2, 3, 4, 5, 8}
s.remove(2)
s

{1, 3, 4, 5, 8}

### 4. Check if an element exists in a set.

In [7]:
s = {1, 2, 3, 4, 5, 8}
n = int(input('Enter the number to check : '))

if  n in s:
    print(n, 'exists in set', s)
    
else:
    print(n, 'does not exist in set', s)

Enter the number to check : 5
5 exists in set {1, 2, 3, 4, 5, 8}

In [8]:
s = {1, 2, 3, 4, 5, 8}
n = int(input('Enter the number to check : '))

if  n in s:
    print(n, 'exists in set', s)
    
else:
    print(n, 'does not exist in set', s)

Enter the number to check : 6
6 does not exist in set {1, 2, 3, 4, 5, 8}

### 5. Find the length of a set without using the `len()` function.

In [9]:
s = {1, 2, 3, 4, 5, 8}

length = 0

for i in s:
    length += 1
    
print(length)

6

### 6. Clear all elements from a set.

In [11]:
s = {1, 2, 3, 4, 5, 8}

s.clear()
s

set()

### 7. Create a set of even numbers from 1 to 10.

In [13]:
s = set(range(2,11,2))
s

{2, 4, 6, 8, 10}

### 8. Create a set of odd numbers from 1 to 10.

In [15]:
s = set(range(1,10,2))
s

{1, 3, 5, 7, 9}

### 9. Find the union of two sets.

In [16]:
set1 = {1,3,5,7,9}
set2 = {0,2,4,6,8}

set3 = set1.union(set2)

set3

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

### 10. Find the intersection of two sets.

In [18]:
set1 = {1,2,3,4,5,6,7,9}
set2 = {0,2,4,6,8}

set3 = set1.intersection(set2)

set3

{2, 4, 6}

### 11. Find the difference between two sets.

In [19]:
set1 = {1,2,3,4,5,6,7,9}
set2 = {0,2,4,6,8}

set3 = set1 - set2

set3

{1, 3, 5, 7, 9}

### 12. Check if a set is a subset of another set.

In [23]:
set1 = {1,2,3,4,5,6,7,9}
set2 = {0,2,4,6,8}

set2.issubset(set1)

False

In [24]:
set1 = {0,1,2,3,4,5,6,7,8,9}
set2 = {0,2,4,6,8}

set2.issubset(set1)

True

### 13. Check if a set is a superset of another set.

In [25]:
set1 = {1,2,3,4,5,6,7,9}
set2 = {0,2,4,6,8}

set2.issuperset(set1)

False

In [28]:
set1 = {1,2,3,4,5}
set2 = {1,2,3,4,5}

set2.issuperset(set1)

True

### 14. Create a set from a list.

In [30]:
l = [1,2,3,4,5,6,7,8,9]

s = set(l)
print(s)
type(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

set

### 15. Convert a set to a list.

In [31]:
s = {1,2,3,4,5,6,7,8,9}

l = list(s)

print(l)
type(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

list

### 16. Remove a random element from a set.

In [32]:
s = {1,2,3,4,5,6,7,8,9}

s.remove(9)
s

{1, 2, 3, 4, 5, 6, 7, 8}

### 17. Pop an element from a set.

In [34]:
s = {1,2,3,4,5,6,7,8,9}

s.pop()

1

### 18. Check if two sets have no elements in common.

In [5]:
s1 = input().split()
s2 = input().split()
s = {}
for i in s1:
    if i in s2:
        set.add(i)
        print(s1, ',', s2, 'has', set, 'in common')
    else:
        print(s1, ',',s2, 'has no common elements')
        break

1, 2 , 4
2, g, 1
['1,', '2', ',', '4'] , ['2,', 'g,', '1'] has no common elements

### 19. Find the symmetric difference between two sets.

In [22]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

difference1 = set1.difference(set2)

difference2 = set2.difference(set1)

print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

### 20. Update a set with elements from another set.

In [2]:
s1 = {1,2,3}
s2 = (5,6,7,8)

s1.update(s2)

print(s1)

{1, 2, 3, 5, 6, 7, 8}

### 21. Create a set of the first 5 prime numbers.

In [3]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def generate_prime_numbers(count):
    prime_numbers = []
    num = 2
    while len(prime_numbers) < count:
        if is_prime(num):
            prime_numbers.append(num)
        num += 1
    return set(prime_numbers)

# Generate and display the tuple of the first 5 prime numbers
first_5_primes = generate_prime_numbers(5)
print("Tuple of the first 5 prime numbers:", first_5_primes)

Tuple of the first 5 prime numbers: {2, 3, 5, 7, 11}

### 22. Check if two sets are identical.

In [4]:
s1 = {1,2,3,4,5}
s2 = {1,2,3,4,5}

if s1 == s2:
    print('True')
else:
    print('False')

True

### 23. Create a frozen set.

In [5]:
frozenset({1, 2, 3})

frozenset({1, 2, 3})

### 24. Check if a set is disjoint with another set.

In [6]:
# Define two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the sets are disjoint
if set1.isdisjoint(set2):
    print("The sets are disjoint.")
else:
    print("The sets have common elements.")

The sets are disjoint.

### 25. Create a set of squares of numbers from 1 to 5.

In [7]:
s = {i*i for i in range(1,6)}

print(s)

{1, 4, 9, 16, 25}

### 26. Filter out all even numbers from a set.

In [15]:
# Original set
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Filter out even numbers
filtered_set = {num for num in original_set if num % 2 == 0}

# Display the filtered set
print("Original set:", original_set)
print("Filtered set (without even numbers):", filtered_set)

Original set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Filtered set (without even numbers): {2, 4, 6, 8, 10}

### 27. Multiply all elements in a set by 2.

In [8]:
s = {2*i for i in range(1,6)}

print(s)

{2, 4, 6, 8, 10}

### 28. Create a set of random numbers.

In [15]:
import random

num_random_numbers = 5

random_number_set = set()

for _ in range(num_random_numbers):
    random_num = random.randint(1, 100)  
    random_number_set.add(random_num)

print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {35, 68, 6, 49, 21}

### 29. Check if a set is empty.

In [17]:
my_set = set()

if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

### 30. Create a nested set (hint: use frozenset).

In [18]:
set1 = frozenset([1, 2, 3])
set2 = frozenset(['a', 'b', 'c'])
nested_set = frozenset([set1, set2])

print(nested_set)

frozenset({frozenset({1, 2, 3}), frozenset({'b', 'a', 'c'})})

### 31. Remove an element from a set using the discard method.

In [20]:
my_set = {1, 2, 3, 4, 5}

print("Initial set:", my_set)

ele_rem = int(input())

my_set.discard(ele_rem)

print("Set after removing", ele_rem, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
2
Set after removing 2 : {1, 3, 4, 5}

### 32. Compare two sets.

In [21]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

is_subset = set1.issubset(set2)

is_superset = set1.issuperset(set2)

intersection = set1.intersection(set2)

union = set1.union(set2)

difference1 = set1.difference(set2)

difference2 = set2.difference(set1)

print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

### 33. Create a set from a string.

In [10]:
s = 'hello all'

sets = set(s)
print(sets)

{'o', 'e', 'a', 'l', ' ', 'h'}

### 34. Convert a set of strings to a set of integers.

In [12]:
string_set = {"123", "456", "789"}

integer_set = set()

for string in string_set:
    integer_value = int(string)

    integer_set.add(integer_value)

print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'456', '123', '789'}
Converted Integer Set: {456, 123, 789}

### 35. Convert a set of integers to a set of strings.

In [10]:
integers_set = {1, 2, 3, 4, 5}

strings_set = set()

for num in integers_set:
    num_str = str(num)

    strings_set.add(num_str)

print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'5', '3', '4', '1', '2'}

### 36. Create a set from a tuple.

In [9]:
t = (1,2,3,4,5)
s = set(t)

print(s)

{1, 2, 3, 4, 5}

### 37. Convert a set to a tuple.

In [8]:
s = {5, 1, 8, 2, -4, 4}
t = tuple(s)

print(t)

(1, 2, 4, 5, 8, -4)

### 38. Find the maximum value in a set.

In [7]:
s = {5, 1, 8, 2, -4, 4}

max_s = max(s)

print(max_s)

8

### 39. Find the minimum value in a set.

In [6]:
s = {5, 1, 8, 2, -4, 4}

min_s = min(s)

print(min_s)

-4

### 40. Create a set from user input.

In [9]:
user_set = set()

print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  

    if user_input.lower() == 'done':
        break  

    user_set.add(user_input)

print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):
> 5
> 6
> 8
> 7
> 9
> 3
> 1
> 2
> done
Final set: {'5', '3', '8', '9', '6', '7', '1', '2'}

### 41. Check if the intersection of two sets is empty.

In [13]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection_result = set1.intersection(set2)

if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

### 42. Create a set of the first 5 Fibonacci numbers.

In [7]:
fibonacci_set = set()

a, b = 0, 1

for _ in range(6):
    fibonacci_set.add(a)

    a, b = b, a + b

print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

### 43. Remove duplicates from a list using sets.

In [3]:
l = [1,2,3,2,4,5,5,4]

s = set(l)
print(s)

{1, 2, 3, 4, 5}

### 44. Check if two sets have the same elements, regardless of their count.

In [6]:
def have_same_elements(set1, set2):
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

result = have_same_elements(set1, set2)

if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

### 45. Create a set of the first `n` powers of 2.

In [2]:
n = int(input())
s = {2**i for i in range(1,n+1)}

print(s)

6
{32, 64, 2, 4, 8, 16}

### 46. Find the common elements between a set and a list.

In [5]:
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

list_to_set = set(my_list)

common_elements = []

for element in my_set:
    if element in list_to_set:
        common_elements.append(element)

print("Common elements:", common_elements)

Common elements: [7, 9, 12]

### 47. Create a set of the first `n` triangular numbers.

Triangular numbers are a sequence of numbers that represent the number of dots in a triangular arrangement. The sequence starts with 1 and then each subsequent number is obtained by adding the next natural number.

Mathematically, the $n^{th}$ triangular number, denoted as $T_n$, is given by the formula:

$T_n$ $=$ $1+2+3+...+n=\frac {n*(n + 1)}{2}$

Visually, you can imagine triangular numbers by arranging dots in the shape of equilateral triangles:

```
   1       1 dot
   1 1      3 dots
   1 2 1     6 dots
   1 2 3 1   10 dots
 ```

In [4]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n: 6
The set of the first 6 triangular numbers is: {1, 3, 6, 10, 15, 21}

### 48. Check if a set contains another set as a subset.

In [10]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Check if set2 is a subset of set1
if set2.issubset(set1):
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

# 49. Create a set of alternating 1s and 0s of length `n`.

In [3]:
n = int(input('Enter length of tuple : '))

s = set(1 if i%2 == 0 else 0 for i in range(n))
s

Enter length of tuple : 3

{0, 1}

### 50. Merge multiple sets into one.

In [16]:
s1 = {1,2,3}
s2 = {4,5,6}
s3 = {7,8,9}
s4 = {10,11,12}

s = s1.union(s2,s3,s4)
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}