### 1. Create a tuple with integers from 1 to 5.

In [13]:
t = tuple(range(1,6))
print(t)

(1, 2, 3, 4, 5)

### 2. Access the third element of a tuple.

In [3]:
t = (1,2,3,4,5)
t[2]

3

### 3. Find the length of a tuple without using the `len()` function.

In [4]:
t = (1,2,3,4,5)
length = 0

for i in t:
    length +=1
    
print(length)

5

### 4. Count the occurrences of an element in a tuple.

In [7]:
t = (1,1,2,2,2,3,3,3,3,3,3,4,4,4,4,4,4,4,4,4,4,4,5,5,5,5,5,5,5,5,5,5,5,5,5)
print(t)

count = 0

n = int(input('Enter the number fromthe above you want to check the occurence of : '))

for i in t:
    if i == n:
        count += 1
        
print(count)

(1, 1, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5)
Enter the number fromthe above you want to check the occurence of : 4
11

### 5. Find the index of the first occurrence of an element in a tuple.

In [2]:
t = (1,1,2,2,2,3,3,3,3,3,3,4,4,4,4,4,4,4,4,4,4,4,5,5,5,5,5,5,5,5,5,5,5,5,5)
print(t)

n = int(input('Enter the number fromthe above you want to check the first occurence of : '))

t.index(n)

(1, 1, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5)
Enter the number fromthe above you want to check the first occurence of : 3

5

### 6. Check if an element exists in a tuple.

In [1]:
t = (1,2,3,4,5)
n = int(input())

if n in t:
    print('Yes', n, 'is present in the tuple')
else:
    print('No', n, 'is not present in the tuple')

6
No 6 is not present in the tuple

In [2]:
t = (1,2,3,4,5)
n = int(input())

if n in t:
    print('Yes', n, 'is present in the tuple')
else:
    print('No', n, 'is not present in the tuple')

5
Yes 5 is present in the tuple

### 7. Convert a tuple to a list.

In [11]:
t = (1,2,3,4,5)

l = list(t)

print(l)
type(l)

[1, 2, 3, 4, 5]

list

### 8. Convert a list to a tuple.

In [12]:
l = [1,2,3,4,5]

t = tuple(l)

print(t)
type(t)

(1, 2, 3, 4, 5)

tuple

### 9. Unpack the elements of a tuple into variables.

In [6]:
x, y, z = ('apple', 'mango', 25)

print(x)
print(y)
print(z)

apple
mango
25

In [7]:
a = ('apple', 'mango', 25)

(x,y,z) = a

print(x)
print(y)
print(z)

apple
mango
25

### 10. Create a tuple of even numbers from 1 to 10.

In [12]:
t = tuple(range(2,11,2))
print(t)

(2, 4, 6, 8, 10)

### 11. Create a tuple of odd numbers from 1 to 10.

In [10]:
t = tuple(range(1,10,2))
print(t)

(1, 3, 5, 7, 9)

### 12. Concatenate two tuples.

In [15]:
t1 = (1, 3, 5, 7, 9)
t2 = (2, 4, 6, 8, 10)

t3 = t1+t2

print(t3)

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]


### 13. Repeat a tuple three times.

In [5]:
t = (1, 3, 5, 7, 9) *3

t

[1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9]

# 14. Check if a tuple is empty.

In [3]:
t = (1,2,3)

    
if not t:
    print(t, 'is an empty tuple')
else:
    print(t, 'is not an empty tuple')

[1, 2, 3] is not an empty tuple

In [4]:
t = ()

    
if not t:
    print(t, 'is an empty tuple')
else:
    print(t, 'is not an empty tuple')

[] is an empty tuple

### 15. Create a nested tuple.

In [15]:
nested_tuple = (('a','b','c'), (1,2,3), ('abc', 123))

nested_tuple

((1, 2, 3), ('a', 'b', 'c'), (True, False))

### 16. Access the first element of a nested tuple.

In [16]:
nt = (('a','b','c'), (1,2,3), ('abc', 123))

nt[0][0]

'a'

### 17. Create a tuple with a single element.

In [17]:
t = (4)
t

4

### 18. Compare two tuples.

In [34]:
t1 = tuple(input('Enter tuple 1 : ').split())
t2 = tuple(input('Enter tuple 2 : ').split())

if t1>t2:
    print(t1,'>', t2)
elif t2>t1:
     print(t2,'>', t1)
    
elif t1 == t2:
    print(t,'==', t)
    
else:
    print(t,'!=>', t)

Enter tuple 1 : 1,2,3
Enter tuple 2 : 2,2,3
('2', ',', '2', ',', '3') > ('1', ',', '2', ',', '3')

### 19. Delete a tuple.

In [3]:
t = (2,3,4,5)

del t

### 20. Slice a tuple.

In [22]:
t = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)

t[3:8]

(4, 5, 6, 7, 8)

### 21. Find the maximum value in a tuple.

In [24]:
t = (1,2,3,4,5,6,7,8,99,10,11,12,13,14,15)

max(t)

99

### 22. Find the minimum value in a tuple.

In [25]:
t = (1,2,3,4,5,6,7,8,99,10,11,12,13,14,0,15)

min(t)

0

### 23. Convert a string to a tuple of characters.

In [27]:
s = 'hello all'

t = tuple(s)
t

('h', 'e', 'l', 'l', 'o', ' ', 'a', 'l', 'l')

### 24. Convert a tuple of characters to a string.

In [29]:
t = ('h', 'e', 'l', 'l', 'o', ' ', 'a', 'l', 'l')

s = ''.join(t)
s

'hello all'

### 25. Create a tuple from multiple data types.

In [30]:
t = (1, "Hello", 3.14, True, [4, 5, 6])
t

(1, 'Hello', 3.14, True, [4, 5, 6])

### 26. Check if two tuples are identical.

In [35]:
t1 = tuple(input('Enter tuple 1 : ').split())
t2 = tuple(input('Enter tuple 2 : ').split())
    
if t1 == t2:
    print(t1,'are identical', t2)
else:
    print(t1,'are not identical', t2)

Enter tuple 1 : 1,2,3
Enter tuple 2 : 1,2,3
('1,2,3',) are identical ('1,2,3',)

In [36]:
t1 = tuple(input('Enter tuple 1 : ').split())
t2 = tuple(input('Enter tuple 2 : ').split())
    
if t1 == t2:
    print(t1,'are identical', t2)
else:
    print(t1,'are not identical', t2)

Enter tuple 1 : 1,2,3
Enter tuple 2 : 1,3,3
('1,2,3',) are not identical ('1,3,3',)

### 27. Sort the elements of a tuple.

In [44]:
t = (4,5,8,2,6,7,8,6,2,0)

t1 = sorted(t)

t1

[0, 2, 2, 4, 5, 6, 6, 7, 8, 8]

### 28. Convert a tuple of integers to a tuple of strings.

In [3]:
t_int = (1,2,3,4,5,6,7,8,9)

t_str = tuple(map(str, t_int)
t_str

('1', '2', '3', '4', '5', '6', '7', '8', '9')

### 29. Convert a tuple of strings to a tuple of integers.

In [7]:
t_str = ('1', '2', '3', '4', '5', '6', '7', '8', '9')

t_int = tuple(map(int, t_str))

t_int

(1, 2, 3, 4, 5, 6, 7, 8, 9)

### 30. Merge two tuples.

In [1]:
t1 = (1,3,5,7,9,11)
t2 = (0,2,4,5,6,7,8)


t3 = t1+t2
t3

(1, 3, 5, 7, 9, 11, 0, 2, 4, 5, 6, 7, 8)

### 31. Flatten a nested tuple.

In [2]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

flattened_tuple = tuple(flatten_tuple(nested_tuple))

print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

### 32. Create a tuple of the first 5 prime numbers.

In [17]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def generate_prime_numbers(count):
    prime_numbers = []
    num = 2
    while len(prime_numbers) < count:
        if is_prime(num):
            prime_numbers.append(num)
        num += 1
    return tuple(prime_numbers)

# Generate and display the tuple of the first 5 prime numbers
first_5_primes = generate_prime_numbers(5)
print("Tuple of the first 5 prime numbers:", first_5_primes)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

### 33. Check if a tuple is a palindrome.

In [2]:
t = tuple(input('Input tuple : '))

if t == t[::-1]:
    print(t,'is a palindrome')
else:
    print(t, 'is not a palindrome')

Input tuple : abbabba
('a', 'b', 'b', 'a', 'b', 'b', 'a') is a palindrome

### 34. Create a tuple of squares of numbers from 1 to 5.

In [4]:
t = tuple(i**2 for i in range(1,6))
t

(1, 4, 9, 16, 25)

### 35. Filter out all even numbers from a tuple.

In [18]:
t = (1,2,3,4,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)

even_t = tuple(i for i in t if i%2 == 0)

even_t

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

### 36. Multiply all elements in a tuple by 2.

In [8]:
t = (1,2,3,4,5,6,7,8,9,10)

twice_t = tuple(i*2 for i in t)

twice_t

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

### 37. Create a tuple of random numbers.

In [9]:
import random

n = int(input('Enter range : '))

random_t = tuple(random.randint(1,50) for i in range(n))

random_t

Enter range : 10

(19, 25, 11, 21, 22, 15, 34, 36, 44, 18)

### 38. Check if a tuple is sorted.

In [33]:
def is_sorted(t):    
    for i in range(len(t)-1):
        if t[i] > t[i+1]:
            return False
    return True
            
t1 = (19,25, 11, 21, 22, 15, 34, 36, 44, 18)
t2 = (1,2,3,4,5)

is_sorted1 = is_sorted(t1)
is_sorted2 = is_sorted(t2)

print(is_sorted1)
print(is_sorted2)

False
True

### 39. Rotate a tuple to the left by `n` positions.

In [39]:
t = (19,25, 11, 21, 22, 15, 34, 36, 44, 18)
n = int(input())

def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

result = rotate_tuple_left(t, n)
print(result)

3
(21, 22, 15, 34, 36, 44, 18, 19, 25, 11)

### 40. Rotate a tuple to the right by `n` positions.

In [38]:
t = (19,25, 11, 21, 22, 15, 34, 36, 44, 18)
n = int(input())

def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

result = rotate_tuple_left(t, n)
print(result)

3
(36, 44, 18, 19, 25, 11, 21, 22, 15, 34)

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [4]:
import math

l = []

factorial_numbers = [math.factorial(n) for n in range(1, 6)]

print("First 10 factorial numbers:")
for index, factorial in enumerate(factorial_numbers, start=1):
    l.append(factorial)
           
t = tuple(l)

print(t)

First 10 factorial numbers:
(1, 2, 6, 24, 120)

### 42. Create a tuple from user input.

In [5]:
input_values = input("Enter elements for the tuple separated by spaces: ")

input_list = input_values.split()

user_tuple = tuple(input_list)

print("The tuple created from user input:", user_tuple)

Enter elements for the tuple separated by spaces: 4 8 12 16 20
The tuple created from user input: ('4', '8', '12', '16', '20')

### 43. Swap two elements in a tuple.

In [8]:
my_tuple = (1, 2, 3, 4, 5)

index1  = int(input())
index2 = int(input())

tuple_list = list(my_tuple)

tuple_list[index1], tuple_list[index2] = tuple_list[index2], tuple_list[index1]

swapped_tuple = tuple(tuple_list)

print("Original Tuple:", my_tuple)
print("Swapped Tuple:", swapped_tuple)

1
4
Original Tuple: (1, 2, 3, 4, 5)
Swapped Tuple: (1, 5, 3, 4, 2)

### 44. Reverse the elements of a tuple.

In [10]:
t = (1, 2, 3, 4, 5)

rev_t = t[::-1]

print(rev_t)

(5, 4, 3, 2, 1)

### 45. Create a tuple of the first `n` powers of 2.

In [9]:
n = int(input())

l = []

for i in range(n):
    j = 2**i
    l.append(j)
    
t = tuple(l)
print(t)

6
(1, 2, 4, 8, 16, 32)

### 46. Find the longest string in a tuple of strings.

In [11]:
def find_longest_str(list_of_str):
    longest_str = max(list_of_str, key = len)
    return longest_str

s = ('ants', 'elephant', 'ape', 'dragen fruit', 'mangoes', 'apples')

print(find_longest_str(s))

dragen fruit

### 47. Find the shortest string in a tuple of strings.

In [12]:
def find_shortest_string(list_of_strings):
    shortest_string = min(list_of_strings, key=len)
    return shortest_string

s = ('ants', 'elephant', 'ape', 'dragen fruit', 'mangoes', 'apples')

shortest_string = find_shortest_string(s)

print(shortest_string)

ape

### 48. Create a tuple of the first `n` triangular numbers.

In [15]:
def generate_triangular_numbers(n):
    triangular_numbers = [i * (i + 1) // 2 for i in range(1, n + 1)]
    return triangular_numbers

# Get user input for n
n = int(input("Enter the value of n: "))

# Generate and display the list of triangular numbers
triangular_numbers_list = generate_triangular_numbers(n)

t = tuple(triangular_numbers_list)

print(f"The first {n} triangular numbers are:", t)

Enter the value of n: 6
The first 6 triangular numbers are: (1, 3, 6, 10, 15, 21)

### 49. Check if a tuple contains another tuple as a subsequence.

In [16]:
t = (1,2, (3,4,5,6), 7,8)
count = 0

for i in t:
    if type(i) == tuple:
        count += 1
        
        
if count > 0:
    print('tuple contains another tuple as a subsequence')
else:
        print("tuple doesn't contains another tuple as a subsequence")

tuple contains another tuple as a subsequence

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [41]:
n = int(input('Enter length of tuple : '))

t = tuple(1 if i%2 == 0 else 0 for i in range(n))
t

Enter length of tuple : 15

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)